.form{
    display: flex;
    flex-basis: 5%;
   
}

.info mat-form-field{
    margin-left: 20px;
    min-width: 100px;
    min-height: 100px;
}

.cross{
    position: absolute;
    left: 98%;
    /* color:#d92756; */
    border: none;
    cursor: pointer;
    border-radius: 50px;
    /* padding: 20px; */
} 
p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
}
.icons{
    margin-left: 20px;
    margin-top: 10px;
    background-color:#d92756  ;
    border-radius: 20px;
    color: white;
    padding: 6px;
   padding-bottom: 2px;
   height: 30px;
   cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

}