
<div class="header">
    <div class="user">
        <div class="userProfile">
            <img src="/assets/profile.jpeg"alt="">
        </div>
        <div class="userName">
            <p>Kimms K</p>
        </div>
    </div>
    <div class="heading">
        <h1 id="main">ISMS Training</h1>
    <small id="sub">Description of why these terms and conditions are necessary</small>
    </div>
    <div class="robo">
        <img src="/assets/Robosoft_logo_horizontal.png" alt="">
    </div>
</div>
<div class="box"></div>
